<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> VoiceBot</title>
    <link rel="stylesheet" href="static\styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h2>Customer Success Voicebot</h2>
        </div>
        <div class="chat-messages" id="chatMessages"></div>
        <div class="chat-input">
            <button id="recordButton">Start Recording</button>
        </div>
        <div id="status"></div>
    </div>
    <script src="static\script.js"></script>
</body>
</html>